{% extends 'base.html.twig' %}
{% block body %}
<style>
body{
    margin:0;
    background-image:url("../../public/images/background2.jpg") ;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}
label
{
    width:150px;
    height:40px;
    border-radius:10px;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color:black;
    color:white;
    padding-top:8px;
    display:flex;
    font-size:xx-large;
    text-align:center;
    justify-content:center;
    padding:auto;
    justify-content: space-around;
}
    form{
        width:50vw;
        margin:auto;
        height:60vh;
        padding-top:50px;
        text-align:center;
        justify-content:center;

    }
    input{
        display:block;
        width:300px;
        border-radius:20px;
        margin:20px;
        text-align:center;
        height:30px;
        font-size:x-large;
    }
    input[type="file" i]{
        display:block;
        width:300px;
        border-radius:20px;
        margin:20px;
        text-align:center;
        height:30px;
        font-size:large;
        background-color:white;
    }
    button{
        border-radius:20px;
        margin:20px;
        height:40px;
        width:150px;
        background-color:black;
        color:white;
        font-size:xx-large;
        border:2px solid white;
    }
    header{
    height:10vh;
    background-color:black;
    color:white;
    margin:0;
    justify-content:center;
    text-align:center;
    display:flex;
    align-content: space-around;

}
.container{
    height:90vh;
    margin:0;
    text-align:center;
    box-sizing:border-box;
    justify-content:center;
}
a{
    height:40px;
    width:150px;
    background-color:black;
    text-decoration:none;
    color:white;
    border-radius:10px;
    margin:10px;
    text-align:center;
    display:flex;
    justify-content:center;
    padding:auto;
    font-size:xx-large;
    border:2px solid white;

    
}
</style>
<header>    <center><h1>Login </h1></center></header>
<div class="container">
{% if error %}
 <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
<center>
<label for="username">Username</label>
 <input type="text" id="username" name="_username" value="{{ last_username }}"/>
 <label for="password">Password</label>
 <input type="password" id="password" name="_password"/>
 <button type="submit">login</button>
 <center><a href="{{ path('user_registration') }}">Register</a></center>
 </center>
</form>
</div>
{% endblock %}